<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Create Event</h1>
Create a new hangout-on-air event with partner
<br>

<div class="form-group">
    <label class="control-label" for="title">Title</label>
    <p></p>
    <textarea class="form-control" id="event_title" name="event[title]" rows="2"></textarea>
</div>
<br>
Partner: <input type="text" name="PartnerName" value="John Smith"><br>
<br>
<a href = "/">Start HOA</a>
<br>
After starting hangout-on-air, your partner will be notified with a text message with an embedded link
</body>
</html>