<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <td><a href="scrums_with_hookups.html">Scrums With Hookups</td>
        <td><a href="impromptu_hangouts.html">Impromptu Hangouts</td>
        <td><a href="pairRoulette.html">Pair Roulette</td>
    </tr>
</table>
    <h1>Pair Roulette</h1>
    Choose a pair partner from the list below, or add yourself to the queue
    <br>
    <table>
         <tr>
            <td>
                <SELECT NAME="chooseProject">
                    <OPTION VALUE="">Choose a project...
                    <OPTION VALUE="/">Website One
                    <OPTION VALUE="/">Pair Roulette
                    <OPTION VALUE="/">Codelailu
                </SELECT>
            </td>
            <td><a href="http://www.test.com">Add Project</a></td>
            <td><a href="http://www.test.com">Edit/Delete Project</a></td>
        </tr>
    </table>
    <td><a href="http://www.test.com">Queue me</a></td>
    <br>
    <h2> Queue</h2>
    <table>
        <tr>
            <th>Seeking Partner</th>
            <th>Projects</th>
            <th>Wait time</th>
            <th>Action</th>
            <th>More Info</th>
        </tr>
        <tr>
            <td>Jon E</td>
            <td>project 1</td>
            <td>0:30</td>
            <td>
                <SELECT NAME="action">
                    <OPTION VALUE="">Action...
                    <OPTION VALUE="/"                     >Initiate Meetup...
                    <OPTION VALUE="/"                          >Contact...
                    <OPTION VALUE="/"                          >More info...
                </SELECT>
            </td>
            <td><a href="">More Info...</a></td>
        </tr>
        <tr>
            <td>Marian</td>
            <td>project 2</td>
            <td>1:00</td>
            <td>
                <SELECT NAME="action">
                    <OPTION VALUE="">Action...
                    <OPTION VALUE="/"                     >Initiate Meetup...
                    <OPTION VALUE="/"                          >Contact...
                    <OPTION VALUE="/"                          >More info...
                </SELECT>
            </td>
            <td><a href="">More Info...</a></td>
        </tr>
        <tr>
            <td>someone</td>
            <td>project 3</td>
            <td>1:10</td>
            <td>
                <a href="Create_event_with_partner.html">Create new hangout</a>
            </td>
            <td><a href="">More Info...</a></td>
        </tr>
    </table>
    <h2> Active Sessions</h2>
    <table>
        <tr>
            <th>Participants</th>
            <th>Projects</th>
            <th>Wait time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>adam, brian</td>
            <td>project 1</td>
            <td>1:00</td>
            <td>open</td>
            <td>
                <a href="http://www.test.com">Join Hangout...</a>
            </td>
        </tr>
        <tr>
            <td>carol, dave</td>
            <td>project 2</td>
            <td>2:00</td>
            <td>closed</td>
            <td>-</td>
        </tr>
    </table>
    <h2>Chat</h2>
    <textarea rows="4" cols="50">
        > Jon: Anyone wanna pair?
        > anyone: sure
        > ...
    </textarea>
</body>
</html>