<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tr>
        <td><a href="scrums_with_hookups.html">Scrums With Hookups</td>
        <td><a href="impromptu_hangouts.html">Impromptu Hangouts</td>
        <td><a href="pairRoulette.html">Pair Roulette</td>
    </tr>
</table>

<h1>Scrums with hookups</h1>
We are hosting several events per day....
<br>
<a href="create_event.html">Create new hangout</a>
<br>
<h2>Active Hangouts</h2>
<table>
    <tr>
        <th>Status (next)</th>
        <th>Title</th>
        <th>Description</th>
        <th>Schedule</th>
        <th>Add to Calendar</th>
        <th>Action...</th>
    </tr>
    <tr>
        <td>Active</td>
        <td>America Scrum and Pair Hookup</td>
        <td>for coordinating any/all Agile…</td>
        <td>repeats every weekday at 18:00</td>
        <td><a href="http://">Add to Calendar</a></td>
        <td><a href="http://">Join Hangout...</a></td>
    </tr>
    <tr>
        <td>2:00 UTC</td>
        <td>Asia Scrum and Pair Hookup</td>
        <td>for coordinating any/all Agile…</td>
        <td>repeats every weekday at 2:00 UTC</td>
        <td><a href="http://">Add to Calendar</a></td>
        <td><a href="http://">Edit...</a></td>
    </tr>
</table>
<h2>Chat</h2>
<textarea rows="4" cols="50">
    > Jon: Anyone wanna pair?
    > anyone: sure
    > ...
</textarea>
</body>
</html>